
<form action="/">
<div class="mb-3">
  <label for="title" class="form-label">Blog Title</label>
  <input type="text" class="form-control" name="title" id="title" required>
</div>

<div class="mb-3">
<label for="desc" class="form-label"> Blog Description</label>
<textarea class="form-control" rows="3" required name="desc" id="desc"></textarea>
</div>

<div class="mb-3">
  <label for="imageUrl" class="form-label">Blog Image Url</label>
  <input type="url" name="imageUrl" id="imageUrl" class="form-control" required>
</div>

<button type="submit" class="btn btn-primary]">Submit</button>

</form>